.about-project {
  padding: 110px 0;
}

.about-project__content {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.about-project__content-item {
  max-width: 550px;
}

.about-project__content-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-project__content-text {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding-top: 26px;
}

.about-project__progress {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: 110px;
}

.about-project__progress-bar {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000;
  background-color: #3DDC84;
  padding: 9px 0;
}

.about-project__progress-bar:nth-of-type(2) {
  color: #FFF;
  background-color: #303030;
}

.about-project__progress-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
  padding-top: 14px;
}
