.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-not-found__code {
  font-size: 140px;
  line-height: 169px;
  padding-top: 246px;
  margin: 0;
}

.page-not-found__text {
  font-size: 16px;
  line-height: 19px;
  padding-top: 5px;
  padding-bottom: 184px;
  margin: 0;
}

.page-not-found__button {
  color: #4285F4;
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline-style: none;
  background-color: transparent;
  padding-bottom: 30px;
}

/* стили для экранов с разрешением менее 650px по ширине */

@media screen and (max-width: 649px) {
  .page-not-found__code {
    font-size: 80px;
    line-height: 97px;
    padding-top: 329px;
  }

  .page-not-found__text {
    font-size: 16px;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 284px;
  }

  .page-not-found__button {
    font-size: 12px;
    line-height: 15px;
  }
}
