.techs {
  background-color: #272727;
  padding: 100px 0;
}

.techs__subtitle {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0;
  padding-top: 90px;
}

.techs__text {
  max-width: 460px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 auto;
  padding-top: 26px;
}

.techs__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
  padding-top: 100px;
}

.techs__item {
  min-width: 90px;
  min-height: 60px;
  background-color: #303030;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  box-sizing: border-box;
  padding: 21px 0;
}

/* стили для экранов с разрешением менее 1024px по ширине */

@media screen and (max-width: 1023px) {
  .techs {
    padding: 90px 0;
  }

  .techs__subtitle {
    padding-top: 80px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
    padding-top: 22px;
  }

  .techs__list {
    padding-top: 83px;
  }

  .techs__item {
    min-width: 84px;
    min-height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}

/* стили для экранов с разрешением менее 650px по ширине */

@media screen and (max-width: 649px) {
  .techs {
    padding: 70px 0;
  }

  .techs__subtitle {
    font-size: 30px;
    line-height: 36px;
    padding-top: 60px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
    padding-top: 24px;
  }

  .techs__list {
    max-width: 180px;
    justify-content: flex-start;
    padding-top: 50px;
  }
}
