.footer {
  min-width: 320px;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 79px;
  padding-bottom: 20px;
}

.footer__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8B8B8B;
  border-bottom: 1px solid #424242;
  margin: 0;
  padding-bottom: 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__copyright {
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.footer__item {
  font-size: 13px;
  line-height: 16px;
}

.footer__item-link {
  color: #FFF;
  text-decoration: none;
}
