.about-me {
  padding-top: 110px;
}

.about-me__content {
  display: flex;
  justify-content: space-between;
  gap: 49px;
  padding-top: 66px;
}

.about-me__info {

}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-me__brief {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding-top: 18px;
}

.about-me__description {
  max-width: 600px;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding-top: 26px;
}

.about-me__social {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 99px 0 0;
}

.about-me__social-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__social-link {
  text-decoration: none;
  color: #FFF;
}

.about-me__photo {
  max-height: 327px;
  border-radius: 10px;
}

/* стили для экранов с разрешением менее 1024px по ширине */

@media screen and (max-width: 1023px) {
  .about-me {
    padding-top: 90px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__brief {
    font-size: 12px;
    line-height: 18px;
    padding-top: 16px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
    padding-top: 20px;
  }

  .about-me__social {
    padding-top: 87px;
  }

  .about-me__photo {
    max-height: 307px;
  }
}

/* стили для экранов с разрешением менее 650px по ширине */

@media screen and (max-width: 649px) {
  .about-me {
    padding-top: 70px;
  }

  .about-me__content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding-top: 60px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__brief {
    font-size: 11px;
    line-height: 16px;
    padding-top: 20px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__social {
    padding-top: 40px;
    gap: 26px;
  }

  .about-me__photo {
    max-width: 292px;
    max-height: 352px;
  }
}
